{{define "title"}}  
    Edit Profile 
{{end}}

{{define "content"}}
<div class="edit-profile">
    <h2>Edit profile</h2>
    <p class="subtitle">Update your account information</p>

    <div class="current-details">
        <h4>Current details</h4>
        <div class="current-row">
            <span>Username</span>
            {{.UserName}}
        </div>
        <div class="current-row">
            <span>Email</span>
            {{.Email}}
        </div>
    </div>

    {{if .Error}}<p class="error">{{.Error}}</p>{{end}}
    <form 
        id="profile-update"
        name = "edit-form"
        action="/profile/update"       
        method="POST"
    >
        <h4>Change details</h4>      
        <div class="form-group">
            <label for="username">Username</label>
            <input
                type="text"
                id="username"
                name="username"
                value="{{.UserName}}"
            >
        </div>
        <div class="form-group">
            <label for="email">Email</label>
            <input
                type="email"
                id="email"
                name="email"
                value="{{.Email}}"
            >
        </div>
        <div class="form-group">
            <label for="current-password">Current Password</label>
            <input
                type="password"
                id="current-password"
                name="current-password"
                placeholder=""
            >
        </div>        
        <div class="form-group">
            <label for="new-password">New password</label>
            <input
                type="password"
                id="new-password"
                name="new-password"
                placeholder=""
            >
        </div>
        <div class="form-actions">
            <button type="submit">Save changes</button>
        </div>
    </form>
</div>
{{end}}