{{define "title"}}  
    Profile 
{{end}}

{{define "content"}}
    <div class="profile-container">
        <div class="user-card">
            <div class="card-image">
                <form
                    id="profile-upload"
                    action="/profile/upload"
                    method="POST"
                    enctype="multipart/form-data"
                >
                    <label for="profile-image">
                        <img
                            class="main-profile"
                            src="/profile/image"
                            alt="Profile picture"
                        >
                    </label>

                    <input
                        type="file"
                        id="profile-image"
                        name="profile_image"
                        accept="image/*"
                        hidden
                    >
                </form>
            </div>
            <div class="card-details">
                <h1>{{.User.Username}}</h1>
                <p><strong>Email:</strong> {{.User.Email}}</p>
                <p><strong>Member since:</strong> {{.User.CreatedAt.Format "02-01-06"}}</p>
            </div>
            <div class="card-actions">
                <button class="btn-profile">Edit profile</button>
                <button class="btn-profile btn-danger">Delete profile</button>
            </div>            
        </div>
        <!-- I can put links to posts and comments-->
        <div class="user-stats">
            <div class="stat">
                <h2><i data-lucide="book-open"></i> {{.PostCount}}</h2>
                <span>Posts</span>
            </div>
            <div class="stat">
                <h2><i data-lucide="message-circle"></i> {{.CommentCount}} </h2>
                <span>Comments</span>
            </div>            
            <div class="stat">
                <h2><i data-lucide="heart"></i> 300 </h2>
                <span>Likes</span>
            </div>                      
        </div>        
        <div class="user-content">
            <div class="user-section">
                <h2>My Posts </h2>
                <ul class="posts">
                    {{range .Content.Posts}}
                        <li>
                            <a href="#">
                                {{.Title}}
                            </a>
                        </li>
                    {{else}}
                        <li class="empty">
                            You haven't created any posts yet.
                        </li>
                    {{end}}
                </ul>               
            </div>
            <div class="user-section">
                <h2>My Comments</h2>
                <ul class="comments">
                    {{range .Content.Comments}}
                        <li>
                            {{.Content}}
                        </li>
                    {{else}}
                        <li class="empty">
                            You haven't made any comments yet.
                        </li>
                    {{end}}
                </ul>
            </div>   
            <div class="user-section">
                <h2>Liked Posts</h2>
                <ul class="liked-posts">
                    {{range .Content.Comments}}
                        <li>
                            {{.Content}}
                        </li>
                    {{else}}
                        <li class="empty">
                            You haven't liked any posts yet.
                        </li>
                    {{end}}
                </ul>
            </div>                  
        </div>
    </div>

    <script>
        document.getElementById("profile-image").addEventListener("change", function () {
            if (this.files.length > 0) {
                document.getElementById("profile-upload").submit();
            }
        });
    </script>    

{{end}}